
.navbar-background{
	background-color: #b11f5f;
	font-size: 0.9rem !important;
}
/*.navbar{
	padding: 0px !important;
}*/
.rounded-li-navbar{
	border-radius: 0.75rem;
}


/* Home Page */
.card-background{
	background-color: #b11f5f;	
}
a:hover{
	text-decoration: none;
}
.mission{
	background-color: #eae5e0;
	font-size: 12px;
}
#volunteer-card{
	border:0px !important;
}
.btn{
	color: white;
	border-radius: 0px;
	background-color:#b11f5f;
	border-color: #b11f5f;
	
}
.btn:hover{
	background-color:#4d0a27;
	border-color: #4d0a27;
}
.img-container{
	position: relative;
	display: inline-block;
	width: 100%;
	/*margin: 10px 5px 5px;*/
}
.img-text{
	top:100%;
	width:28%;
	height:50px;
    margin-top: -50px;
    position: absolute;
    background-color: #b11f5f;
    color: white;
}
.onhover-colour{
	border-radius: 0px;
}
.onhover-colour:hover{
 	background-color:#f26522;
 	color: white;
}
.color-overlay {
  width: 100%;
  height: 100vh;
  background: blue;
  opacity: .6;
  position: absolute;
}
.carousel-caption{
	margin-bottom: 23%;	
}
.drk:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:#000;
    opacity:0.7;
}
.updates-image{
	height: 250px;
	width: 100%;
}
/* Home Page ends */



/* About page */
.upper-image{
	background:url('/images/nasa.jpg');
	color: white;
	height: 100vh;
	width: auto;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	object-fit: contain;
}

.colour-overlay{
	width: 100%;
	height: 100vh;
	background: #030354;
	opacity: 0.4;
	position: absolute;
}
.aboutus-text {
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  z-index: 1;
}
.aboutus-subtext {
  margin-left: 16%;
  margin-right: 16%;
  z-index: 1;
}

.image_column{
	display: flex;
	align-items: flex-end;
}

.aboutus-description{
	margin-top: 10%;
	margin-left: 9%;
	margin-right: 5%;
}

/*  */


footer{
	background-color: #030354;
}

@media (max-width: 800px) {
      #aboutus-man{
            display:none;
   }
   .image_column{
   	display: none;
   }
}

@media (max-width: 800px){
	.carousel-caption{
		margin-bottom: 15%;	
	}
}

@media (max-width: 450px){
	.carousel-caption{
		margin-bottom: 4%;	
	}
}
